tests/.pytest_cache
.idea/
.DS_Store
*.iml
selene.egg-info/
dist/
*.pyc
*.pyo
*.swp
*.class
*.orig
tests/reports
reports/
tests/comparison/
.cache
build
.coverage
geckodriver.log
skip-covered/
.python-version
tests/adhoc/test_anything.py
test-todomvc-refactoring/tests/test_test_todomvc_refactoring.py
test-todomvc-refactoring/test_todomvc_refactoring/__init__.py
